*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary);
  background-image: url(../../assets/background-stars.svg);
  background-position: 50% 50%;
  background-size: cover;
  // background-repeat: no-repeat;
}
