html {
  font-family: $font-primary;
  color: var(--color-font-primary);
}

.heading {
  &-1 {
    font-family: $font-primary;
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 400;
    @media only screen and (max-width: $bp-large) {
      font-size: 6rem;
    }
  }
  &-2 {
    font-family: $font-primary;
    font-size: 4rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-larger) {
      font-size: 3rem;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 2rem;
    }
  }
  &-3 {
    font-family: $font-secondary;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-4 {
    font-family: $font-secondary;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-larger) {
      font-size: 1.4rem;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 1rem;
    }
  }

  &-logo {
    font-family: $font-primary;
    font-size: 2.8rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-larger) {
      font-size: 2rem;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 2.3rem;
    }
  }
}

.text-body {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 1.4rem;
}
